body {
    background-color: #000000;
    color: #FFFFFF;
}



/* for Grid Layout */



.grid-container1 {
    border: solid 2px red;
    display: grid;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer"
    "sidebar sidebar sidebar sidebar sidebar";
}

.header1 {
    border: solid 2px red;
    grid-area: header;
    /* height: 200px; */
}

.sidebar1 {
    border: solid 2px red;
    background-color: #2f2f2f;
    grid-area: sidebar;
    /* for flex */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main1 {
    border: solid 2px red;
    background-color: #322f2f;
    grid-area: main;
    /* for only test */
    height: 1000px;
}

.footer1 {
    border: solid 2px red;
    grid-area: footer;
    /* height: 200px; */
}





/* for flex layout */




.flex-item1 {
    border: solid 2px rgb(242, 255, 0);
    font-size: 20px;
    padding: 30px;
}